{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint"
    ],

    "parserOptions": {
        "ecmaVersion": 2018
    },

    "plugins": ["prettier"],

    "rules": {
        "linebreak-style": ["error", "windows"],
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ]
    }
}
